/** FORM ELEMENTS **/

/* Generic Form Element Styling */
button,
input {
  box-shadow: inset 0 0 0 1px var(--bg2);
  border: none;
  padding-top: calc(0.5em - var(--gutter) * var(--steal-top));
  padding-bottom: calc(0.5em - var(--gutter) * var(--steal-bottom));
  padding-left: 1ch;
  padding-right: 1ch;
  margin-top: calc(var(--gutter) * var(--steal-top));
  margin-bottom: calc(var(--gutter) * var(--steal-bottom));
  vertical-align: top;
  height: 1em;
  line-height: 1;
}

button {
  box-sizing: content-box;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--active-input-color);
}

button:hover {
  background: var(--active-input-color);
  box-shadow: none;
}

/* Select */
select {
  border: none;
  background: var(--background);
  overflow: hidden;
  margin-bottom: -2px;
}

select::after {
  content: "TEST";
}

select > :last-child {
  margin-bottom: -2px;
}

select:focus {
  border: solid 2px var();
}

option {
  font-style: italic;
}
