/** FORM ELEMENTS **/

/* Generic Form Element Styling */
button,
input {
  border: solid 1px var(--bg2);
  padding-top: calc(0.5em - var(--gutter) * var(--steal-top) - 1px);
  padding-bottom: calc(0.5em - var(--gutter) * var(--steal-bottom) - 1px);
  padding-left: calc(1ch - 1px);
  padding-right: calc(1ch - 1px);
  margin-top: calc(var(--gutter) * var(--steal-top));
  margin-bottom: calc(var(--gutter) * var(--steal-bottom));
  vertical-align: top;
  height: 1em;
  line-height: 1;
}

button {
  box-sizing: content-box;
}

button:focus,
input:focus,
textarea:focus {
  padding-top: calc(0.5em - var(--gutter) * var(--steal-top) - 2px);
  padding-bottom: calc(0.5em - var(--gutter) * var(--steal-bottom) - 2px);
  padding-left: calc(1ch - 2px);
  padding-right: calc(1ch - 2px);
  outline: none;
  border: solid 2px var(--active-input-color);
}

button:hover {
  border-color: var(--active-input-color);
}

/* button {
  background: var(--input-color);
  border: none;
  height: 1em;
  box-sizing: content-box;
  padding: 0.5em 0.5em calc(0.5em - 2px) 0.5em;
  margin: 0 0 2px;
} */

/* Text Input */

/* Select */
select {
  border: none;
  background: var(--background);
  overflow: hidden;
  margin-bottom: -2px;
}

select::after {
  content: 'TEST';
}

select > :last-child {
  margin-bottom: -2px;
}

select:focus {
  border: solid 2px var();
}

option {
  font-style: italic;
}
