header {
  background: var(--b_low);
  height: 2em;
  display: flex;
  --input-color: var(--b_med);
}

header button {
  padding: calc(0.5em - 2px) 0.5em;
  margin: 2px 0.5em;
}

header .right {
  margin-right: 0.5em;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

header .right > * {
  margin-right: 0.5em;
}

header .right > :last-child {
  margin-right: 0;
}

.dropdown:focus {
  outline: none;
}

.dropdown .head {
  padding: 0 2em 0 0.5em;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.dropdown .head::after {
  content: '';
  background: var(--f_high);
  -webkit-mask-image: url('../icons/chevron.svg');
  mask-image: url('../icons/chevron.svg');
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.dropdown .head:hover,
.dropdown.open .head {
  background: var(--b_med);
  padding-right: calc(2em - 2px);
  border-right: solid 2px var(--background);
}

.dropdown .head:hover::after,
.dropdown.open .head::after {
  right: calc(0.5em - 2px);
  background: var(--background);
}

.dropdown nav {
  display: none;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-top: solid 2px var(--background);
  border-right: solid 2px var(--background);
}

.dropdown.open nav {
  display: block;
}

.dropdown nav ul {
  margin: 0;
  padding: 0;
}

.dropdown nav li {
  height: calc(2em - 2px);
  background: var(--b_med);
  border-bottom: solid 2px var(--background);
  overflow: hidden;
  list-style: none;
  line-height: 2em;
  padding: 0 1em;
}

.dropdown nav li:first-child {
  margin-top: -2px;
}
