@import './variables.css';
@import './layout.css';
@import './header.css';

@import './form.css';

@import './scrollbars.css';

/* BASIC HTML RULES */
body {
  background: var(--bg0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1em;
  line-height: 2em;
  margin: 0 0 0 0.5em;
}

p {
  margin: 0 0.5em;
}
