::-webkit-scrollbar {
  width: 1em;
  height: 1em;
  background-color: var(--b_low);
  border-left: solid 2px var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--b_med);
  border-left: solid 2px var(--background);
}
