/** CSS Variables **/

:root {
  /* SPACING */
  /* Text metrics: Font size determines most every other aspect of scale */
  font-size: 16px;
  line-height: 2;

  /* Variables for gutters and "stolen" spacing around components */
  --gutter: 2px;
  --steal-top: 0;
  --steal-bottom: 0;

  /* COLORS */
  /* Background */
  --bg0: var(--background);
  --bg1: var(--b_low);
  --bg2: var(--b_med);
  --bg3: var(--b_high);

  /* Foreground */
}
