:root {
  /* "Tape" theme from https://github.com/hundredrabbits/Themes */
  --background: #dad7cd;
  --f_high: #696861;
  --f_med: #ffffff;
  --f_low: #b3b2ac;
  --f_inv: #43423e;
  --b_high: #43423e;
  --b_med: #c2c1bb;
  --b_low: #e5e3dc;
  --b_inv: #eb3f48;

  --input-color: var(--b_low);
  --active-input-color: var(--b_inv);
}

* {
  color: var(--f_high);
  font-size: 16px;
  line-height: 1em;
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0;
  background: var(--background);
}

html,
body {
  height: 100%;
}

section#root {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  padding: 2em;
}

h1 {
  font-weight: normal;
  margin: 0;
  line-height: 2em;
}

.monitor {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

.monitor .monitor-scroll {
  flex: 1;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

.monitor article {
  background: var(--b_low);
  overflow: hidden;
  margin-bottom: 2px;
}

.monitor article header {
  padding: 0.5em;
  height: 1em;
}

.monitor article header {
  background: var(--b_med);
}

.monitor article .message-info {
  padding: 0 1em;
  margin-bottom: -2px;
  display: flex;
  flex-wrap: wrap;
}

.monitor article .message-info div {
  flex-grow: 1;
  padding: 0.5em 0;
  height: 1em;
}

.monitor article time {
  color: var(--f_med);
  text-transform: lowercase;
  line-height: 1em;
}

.monitor article time::after {
  content: ' ';
}

.monitor article h2 {
  font-weight: normal;
  margin: 0;
  display: inline-block;
}

.monitor article h3 {
  font-weight: normal;
  margin: 0;
  display: inline-block;
  color: var(--f_med);
}

aside.filters {
  overflow-y: scroll;
}

aside.filters h2,
aside.filters h3 {
  font-weight: normal;
  line-height: 2em;
  margin: 0;
}

aside.filters h3 {
  color: var(--f_med);
}

aside.filters ul {
  padding: 0;
  margin: 0;
}

aside.filters li {
  list-style: none;
  margin-bottom: 2px;
}

aside.filters label {
  display: flex;
}

input[type='checkbox'].toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='checkbox'].toggle + * {
  display: inline-block;
  flex: 1;
  background: var(--input-color);
  color: var(--f_low);
  padding: 0.5em 0.5em 0.5em 2em;
  position: relative;
  line-height: calc(1em - 2px);
}

input[type='checkbox']:checked.toggle + * {
  background: var(--active-input-color);
  color: var(--f_inv);
}

input[type='checkbox'].toggle + *:before {
  content: '✕';
  font-weight: bold;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

input[type='checkbox']:checked.toggle + *:before {
  content: '〇';
  top: 0.55em;
}
