@import '../management-ui/css/index.css';

:root {
  /* https://gka.github.io/palettes/#/12|d|f5f3f0,b1aba2|68635d,2c2824|1|1 */
  --l-0: #f5f3f0;
  --l-1: #e9e7e3;
  --l-2: #dedbd5;
  --l-3: #d3cfc8;
  --l-4: #c7c3bc;
  --l-5: #bcb7af;
  --d-5: #5e5953;
  --d-4: #534e49;
  --d-3: #49443f;
  --d-2: #3f3b36;
  --d-1: #35312d;
  --d-0: #2c2824;

  /* https://gka.github.io/palettes/#/16|s|f79d19,ff0000,ae04c3||0|1 */
  --c-00: #f79d19;
  --c-01: #f99117;
  --c-02: #fa851a;
  --c-03: #fa791f;
  --c-04: #f96d27;
  --c-05: #f8612f;
  --c-06: #f65538;
  --c-07: #f34a42;
  --c-08: #ef3e4d;
  --c-09: #eb3259;
  --c-10: #e52566;
  --c-11: #de1875;
  --c-12: #d60985;
  --c-13: #cc0098;
  --c-14: #bf00ac;
  --c-15: #ae04c3;

  --background: var(--l-0);
  --b_low: var(--l-1);
  --b_med: var(--l-2);
  --b_high: var(--l-3);
  --f_high: var(--d-0);
  --f_med: var(--d-5);
  --f_low: var(--l-5);
  --input-color: var(--l-1);
  --active-input-color: var(--c-00);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--d-0);
    --b_low: var(--d-1);
    --b_med: var(--d-2);
    --b_high: var(--d-3);
    --f_high: var(--l-0);
    --f_med: var(--l-5);
    --f_low: var(--d-5);
    --input-color: var(--d-1);
    --active-input-color: var(--c-00);
  }
}

* {
  color: var(--f_high);
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
}

body {
  background: var(--background);
}

/* INPUT UI */

button {
  background: var(--input-color);
  border: none;
  height: 1em;
  box-sizing: content-box;
  padding: 0.5em 0.5em calc(0.5em - 2px) 0.5em;
  margin: 0 0 2px;
}

button:hover {
  background: var(--active-input-color);
}

button:focus {
  outline: none;
}

/* LAYOUT BLOCKS */

.scroll {
  flex: 1;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

/* SITE HEADER */
/* 
#root > div > header {
  height: 1em;
  padding: 0.5em 0;
  background: var(--b_low);
} */

/* #root > div > header h1 {
  padding: 0 1em;
  margin: 0;
} */

#root > div > header h1::before {
  content: 'midi.management/';
  color: var(--f_med);
}

/* MONITOR PAGE */
.monitor {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

.monitor .monitor-controls {
  display: flex;
  justify-content: flex-end;
}

.source-group {
  border-left: solid 0.5em var(--b_med);
}

.source-group:not(:last-child) {
  margin-bottom: 2px;
}

.source-group > header {
  position: sticky;
  top: 0;
  background: var(--b_med);
  height: 1em;
  padding: 0.5em 0;
}

article.midi-message {
  background: var(--b_low);
  overflow: hidden;
}

article.midi-message:not(:last-child) {
  margin-bottom: 2px;
}

article.midi-message header {
  height: 2em;
  padding: 0;
  display: flex;
  background: var(--b_low);
}

article.midi-message time {
  padding: 0.5em;
  background: var(--b_med);
  color: var(--f_med);
  text-transform: lowercase;
  line-height: 1em;
}

article.midi-message h2 {
  margin: 0;
  font-weight: normal;
  padding: 0.5em;
  flex-grow: 1;
}

article.midi-message h3 {
  font-weight: normal;
  margin: 0;
  display: inline-block;
  color: var(--f_med);
}

article.midi-message .message-info {
  padding: 0 1em;
  margin-bottom: -2px;
  display: flex;
  flex-wrap: wrap;
}

article.midi-message .message-info div {
  flex-grow: 1;
  padding: 0.5em 0;
  height: 1em;
}

aside.filters h3 {
  color: var(--f_med);
}

aside.filters ul {
  padding: 0;
  margin: 0;
}

aside.filters li {
  list-style: none;
  margin-bottom: 2px;
}

aside.filters label {
  display: flex;
}

input[type='checkbox'].toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='checkbox'].toggle + * {
  display: inline-block;
  flex: 1;
  background: var(--input-color);
  color: var(--f_low);
  padding: 0.5em 0.5em 0.5em 2em;
  position: relative;
  line-height: calc(1em - 2px);
}

input[type='checkbox']:checked.toggle + * {
  background: var(--active-input-color);
  color: var(--f_inv);
}

input[type='checkbox'].toggle + *::before {
  content: '';
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 1em;
  height: 1em;
  background: currentColor;
  -webkit-mask-image: url('../management-ui/icons/x.svg');
  mask-image: url('../management-ui/icons/x.svg');
}

input[type='checkbox']:checked.toggle + *::before {
  content: '';
  -webkit-mask-image: url('../management-ui/icons/o.svg');
  mask-image: url('../management-ui/icons/o.svg');
}

.piano-ui {
  margin-top: 1em;
  height: 4em;
}

.piano-ui > div:first-child {
  height: 60%;
}

.piano-ui .piano-ui-key {
  border: none;
}

.piano-ui .piano-ui-white-key {
  background: var(--b_low);
}

.piano-ui .piano-ui-white-key:not(:last-child) {
  margin-right: 2px;
}

.piano-ui .piano-ui-black-key {
  background: var(--b_high);
  border: solid 2px var(--background);
  border-top: none;
}

.piano-ui .piano-ui-key.sustained {
  background: var(--c-00);
}

.piano-ui .piano-ui-white-key.active {
  background: var(--c-03);
}

.piano-ui .piano-ui-black-key.active {
  background: var(--c-04);
}
